.card{
    position: relative;
    display: inline-block;
    background-color: burlywood;
    margin: 5px;
    padding: 0px;
    border: 2px solid gray;
    
    width: 54px;
    height: 83px;

    margin: 3px;
}

.imgCarta {
    width: 54px;
    height: 83px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div[id="cardView"] {
    position: absolute;
    top: 0;
    left: 0;

    width: 270px;
    min-height: 412px;

    border-radius: 10px;
    
    display: none;
}

.imgCardView {
    position: relative;
    width: 270px;
    height: 412px;
    border-radius: 10px;
}

div[id="cardLabels"] {
    position: relative;
    width: 270px;
    min-height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255,100,100,0.6),rgba(100,255,100,0.6), rgba(100,100,255,0.6));
}

.cardViewLbl {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
}

.mini {
    width: 100px;
    height: 10px;
    position: absolute;
    z-index: 10;
}

.moverange {
    background: linear-gradient(45deg, rgba(0, 119, 255, 0.185),rgba(0, 238, 255, 0.288))
}

.select {
    border: solid rgb(0, 100, 255);
}

.atk {
    border: solid rgb(255, 50, 50);
}