.card{
    position: relative;
    display: inline-block;
    background-color: burlywood;
    margin: 5px;
    padding: 0px;
    border: 2px solid gray;
    
    width: 54px;
    height: 83px;

    margin: 3px;
}

.imgCarta {
    width: 54px;
    height: 83px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div[id="cardView"] {
    position: absolute;
    top: 0;
    left: 0;

    width: 270px;
    min-height: 412px;

    border-radius: 10px;
    
    display: none;
}

.imgCardView {
    position: relative;
    width: 270px;
    height: 412px;
    border-radius: 10px;
}

div[id="cardLabels"] {
    position: relative;
    width: 270px;
    min-height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255,100,100,0.6),rgba(100,255,100,0.6), rgba(100,100,255,0.6));
    text-align: center;
}

.cardViewLbl {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
}

.mini {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 10;
}

.moverange {
    background: linear-gradient(45deg, rgba(0, 119, 255, 0.185),rgba(0, 238, 255, 0.288));
}

.atkrange {
    background: linear-gradient(45deg, rgba(155, 0, 0, 0.185),rgba(255, 10, 0, 0.288));
}

.select {
    border: solid rgb(0, 100, 255);
    animation-name: select1;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

.select::before {
    content: " ";
    border: 2px dashed rgb(0, 20, 255);
    position: absolute;
    z-index: 12;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    animation-name: select2;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes select1 {
    0% {border-color: rgb(0, 100, 255);}
    100% {border-color: rgb(0, 20, 255);}
}

@keyframes select2 {
    0% {border-color: rgb(0, 20, 255);}
    100% {border-color: rgb(0, 100, 255);}
}

.atk {
    border: solid rgb(255, 50, 50);
    animation-name: atk1;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

.atk::before {
    content: " ";
    border: 2px dashed rgb(200, 0, 0);
    position: absolute;
    z-index: 12;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    animation-name: atk2;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

@keyframes atk1 {
    0% {border-color: rgb(255, 50, 50);}
    100% {border-color: rgb(200, 0, 0);}
}

@keyframes atk2 {
    0% {border-color: rgb(200, 0, 0);}
    100% {border-color: rgb(255, 50, 50);}
}

.dmgTake {
    animation-name: dmgAnim;
    animation-duration: 0.2s;
    animation-iteration-count: 3; 
}

@keyframes dmgAnim {
    0% {transform: translate(-0%, -0%);}
    25% {transform: translate(-10%, -10%);}
    75% {transform: translate(15%, 5%);}
    100% {transform: translate(-0%, -0%);}
}