.card{
    position: relative;
    display: inline-block;
    background-color: burlywood;
    margin: 5px;
    padding: 0px;
    border: 2px solid gray;
    
    width: 54px;
    height: 83px;

    margin: 3px;
}

.imgCarta {
    width: 54px;
    height: 83px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div[id="cardView"] {
    position: absolute;
    top: 0;
    left: 0;

    width: 270px;
    height: 412px;

    border-radius: 10px;
    
    display: none;
}

.imgCartaView {
    width: 270px;
    height: 412px;
    border-radius: 10px;
}

.mini {
    width: 100px;
    height: 10px;
    position: absolute;
    z-index: 10;
}

.select {
    border: solid rgb(0, 100, 255);
}

.moverange {
    background: linear-gradient(45deg, rgba(0, 119, 255, 0.185),rgba(0, 238, 255, 0.288))
}