* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

div[id="back"] {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

div[id="board"] {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-50%);
    float: left;
}

.place {
    position: relative;
    margin: 0;
    padding: 0;
    border: transparent;
    float: left;
    z-index: 3;
}

div[id="cardBox"] {
    position: relative;
    border: 2px solid gray;
    background-color: lightgreen;
    max-width: 250px;
    min-height: 250px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
}

div[id="playerMenu"] {
    position: relative;
    top: 0;
    left: 66%;
    border: 1px dashed cyan;
    width: 300px;
    min-height: 600px;
}

.lblT {
    position: relative;
    background-color: aquamarine;
    z-index: 10;
    width: 120px;
}

img[id="boardImg"] {
    position: absolute;

    top: 0;
    left: 0;
}

label[id="boardDmg"] {
    position: absolute;
    z-index: 12;
    font-size: 20px;
    color: rgb(255, 10, 0);
    display: none;
}


.dmgUp {
    animation-name: dmgUpAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes dmgUpAnim {
    0% {transform: translate(-0%, -25%); color: rgba(255, 10, 0, 1); display: block;}
    15% {transform: translate(-15%, -35%); color: rgba(255, 10, 0, 0.8);}
    30% {transform: translate(-30%, -45%); color: rgba(255, 10, 0, 0.6);}
    45% {transform: translate(-15%, -55%); color: rgba(255, 10, 0, 0.5);}
    60% {transform: translate(15%, -65%); color: rgba(255, 10, 0, 0.4);}
    75% {transform: translate(30%, -75%); color: rgba(255, 10, 0, 0.3);}
    100% {transform: translate(16%, -85%); color: rgba(255, 10, 0, 0.1);}
}

.phase {
    position: absolute;
    margin-left: 10px;
    bottom: 15%;
    height: 40px;
    width: 80px;
}

.phaseL {
    position: absolute;
    margin: 10px;
    font-size: 20px;
    bottom: 25%;
    height: 40px;
    width: 80px;
    color: white;
}