* {
    padding: 0;
    margin: 0;
}

div[id="back"] {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

div[id="board"] {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%,-50%);
    float: left;
}

.place {
    position: relative;
    margin: 0;
    padding: 0;
    border: transparent;
    float: left;
    z-index: 3;
}

div[id="cardBox"] {
    position: relative;
    border: 2px solid gray;
    background-color: lightgreen;
    max-width: 250px;
    min-height: 250px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
}

div[id="playerMenu"] {
    position: relative;
    top: 0;
    left: 66%;
    border: 1px dashed cyan;
    width: 300px;
    min-height: 600px;
}

.lblT {
    position: relative;
    background-color: aquamarine;
    z-index: 10;
    width: 120px;
}

img[id="boardImg"] {
    position: absolute;

    top: 0;
    left: 0;
}